.login
    .login__title Войти
    input(type="email" placeholder="Email").login__field
    input(type="password" placeholder="Пароль").login__field
    a(href="#").btn-full войти
    .login__registration
        .login__registration__text Нет аккаунта на Toxin?
        a(href="registration.html").btn-empty создать