.rooms-found__item
    .rooms-found__item-shadow-left
    .rooms-found__item-shadow-right
    .rooms-found__slider
        img(src="static/img/rooms-found-2.png").rooms-found__slider-img
        img(src="static/img/rooms-found-1.png").rooms-found__slider-img
        img(src="static/img/rooms-found-3.png").rooms-found__slider-img
        img(src="static/img/rooms-found-4.png").rooms-found__slider-img
    .rooms-found__body
        .rooms-found__body-wrapper
            .rooms-found__room
                span.rooms-found__number № 840
                span.rooms-found__isLuxe 
            .rooms-found__price
                span.rooms-found__digit 9 900₽
                span.rooms-found__text в сутки
        .rooms-found__line
        .rooms-found__body-wrapper
            .rooms-found__stars
                img(src="static/img/star.png").rooms-found__star
                img(src="static/img/star.png").rooms-found__star
                img(src="static/img/star.png").rooms-found__star
                img(src="static/img/star.png").rooms-found__star
                img(src="static/img/star_border.png").rooms-found__star
            .rooms-found__rewiev 
                span.rooms-found__digit 65
                span.rooms-found__text Отзывов