footer.footer
    .footer-top
        .container
            .footer-wrapper
                .footer-col
                    img.logo(src="static/img/logo.png")
                    span.footer-top__text Бронирование номеров в лучшем <br> отеле 2019 года по версии <br> ассоциации «Отельные взгляды»
                .footer-col
                    .footer-col__title навигация
                    a.footer-col__text О нас
                    a.footer-col__text Новости
                    a.footer-col__text Служба поддержки
                    a.footer-col__text Услуги
                .footer-col
                    .footer-col__title о нас
                    a.footer-col__text О сервисе
                    a.footer-col__text Наша команда
                    a.footer-col__text Вакансии
                    a.footer-col__text Инвесторы
                .footer-col
                    .footer-col__title Служба поддержки
                    a.footer-col__text Соглашения
                    a.footer-col__text Сообщества
                    a.footer-col__text Связь с нами
                .footer-col
                    .footer-col__title Подписка
                    a.footer-col__text Получайте специальные<br> предложения и новости сервиса
                    .footer-col__input-arrow
                        input(type="email" placeholder="Email").footer-col__input
                        .arrow
    .footer-bottom
        .container
            span.copyright Copyright © 2018 Toxin отель. Все права зачищены.
            .social-links
                a.social-link
                    img(src="static/img/twitter.png", alt="twitter")
                a.social-link
                    img(src="static/img/facebook.png", alt="facebook")
                a.social-link
                    img(src="static/img/instagramm.png", alt="instagramm")