.dropdown
    .dropdown__line 
        span.dropdown__text взрослые
        .dropdown__count
            span.dropdown__button.dropdown__button-minus-1 -
            input(type='text' value='2').dropdown__text.dropdown__text-1
            span.dropdown__button.dropdown__button-plus-1 +
    .dropdown__line 
        span.dropdown__text дети
        .dropdown__count
            span.dropdown__button.dropdown__button-minus-2 -
            input(type='text' value='1').dropdown__text.dropdown__text-2
            span.dropdown__button.dropdown__button-plus-2 +
    .dropdown__line 
        span.dropdown__text младенцы
        .dropdown__count
            span.dropdown__button.dropdown__button-minus-3 -
            input(type='text' value='0').dropdown__text.dropdown__text-3
            span.dropdown__button.dropdown__button-plus-3 +
    .dropdown-buttons
        .dropdown-buttons__clear очистить
        .dropdown-buttons__apply применить