.room-details__left-side
    .room-details__flex
        .room-details__info
            h2.room-details__title Сведения о номере
            .room-details__info-wrapper
                img(src="static/img/insert_emoticon-1.png", alt="").room-details__info-img
                .room-details__info-block-text
                    .room-details__info-title Комфорт
                    .room-details__info-text Шумопоглощающие стены
            .room-details__info-line
            .room-details__info-wrapper
                img(src="static/img/insert_emoticon-2.png", alt="").room-details__info-img
                .room-details__info-block-text
                    .room-details__info-title Удобство
                    .room-details__info-text Окно в каждой из спален
            .room-details__info-line
            .room-details__info-wrapper
                img(src="static/img/insert_emoticon-3.png", alt="").room-details__info-img
                .room-details__info-block-text
                    .room-details__info-title Уют
                    .room-details__info-text Номер оснащён камином
        .room-details__expression
            h2.room-details__title Впечатления от номера
            .room-details__expression-circle
                .room-details__expression-number 260
                .room-details__expression-text голосов
            ul.room-details__expression-list
                li.room-details__expression-item Великолепно
                    .room-details__expression-after.room-details__expression-after--yellow
                li.room-details__expression-item Хорошо
                    .room-details__expression-after.room-details__expression-after--green
                li.room-details__expression-item Удовлетворительно
                    .room-details__expression-after.room-details__expression-after--purple
                li.room-details__expression-item Разочарован
                    .room-details__expression-after.room-details__expression-after--black

    .room-details__row
        .room-details__title Отзывы посетителей номера
        .room-details__review 2 отзыва
    .room-details__review-wrapper
        img(src="static/img/avatar-1.png", alt="").room-details__review-img
        .room-details__review-block-text
            .room-details__review-title Мурад Сарафанов
            .room-details__review-text 5 дней назад
    .room-details__review-wrapper
        .room-details__review-likes
            img(src="static/img/favorite.png", alt="").room-details__review-favorite
            .room-details__review-number 12
        .room-details__review-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.

    .room-details__review-wrapper
        img(src="static/img/avatar-2.png", alt="").room-details__review-img
        .room-details__review-block-text
            .room-details__review-title Патрисия Стёклышкова
            .room-details__review-text Неделю назад
    .room-details__review-wrapper
        .room-details__review-likes
            img(src="static/img/favorite_border.png", alt="").room-details__review-favorite
            .room-details__review-number 2
        .room-details__review-text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
    
    .room-details__flex
        .room-details__rules
            h2.room-details__title Правила
            ul.room-details__rules-list
                li.room-details__rules-item Нельзя с питомцами
                li.room-details__rules-item Без вечеринок и мероприятий
                li.room-details__rules-item Время прибытия — после 13:00, а выезд до 12:00
        .room-details__cancel
            h2.room-details__title Отмена
            .room-details__cancel-item Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.