section.s-room-details
    .room-details__images
        img(src="static/img/room-details-1.png", alt="" class="room-details__img__1")
        img(src="static/img/room-details-2.png", alt="" class="room-details__img__2")
        img(src="static/img/room-details-3.png", alt="" class="room-details__img__3")
    .room-details__wrapper
        .container
            include room-details-left-side
            include room-details-right-side