section.s-rooms-found
    h1.rooms-found__title Номера, которые мы для вас подобрали
    .rooms-found__wrapper
        include ../../modules/rooms-found__item/rooms-found__item-1
        include ../../modules/rooms-found__item/rooms-found__item-2
        include ../../modules/rooms-found__item/rooms-found__item-3
        include ../../modules/rooms-found__item/rooms-found__item-4
        include ../../modules/rooms-found__item/rooms-found__item-5
        include ../../modules/rooms-found__item/rooms-found__item-6
        include ../../modules/rooms-found__item/rooms-found__item-7
        include ../../modules/rooms-found__item/rooms-found__item-8
        include ../../modules/rooms-found__item/rooms-found__item-9
        include ../../modules/rooms-found__item/rooms-found__item-10
        include ../../modules/rooms-found__item/rooms-found__item-11
        include ../../modules/rooms-found__item/rooms-found__item-12
    .rooms-found__pages
        .pages
            .page-current 1
            .page 2
            .page 3
            .page ...
            .page 15
            button.page-next
        p.pages__text 1 – 12 из 100+ вариантов аренды
