header.header
    .container
        img.logo(src="static/img/logo.png")
        nav.main-nav
            ul.main-nav__list
                li.main-nav__item
                    a(href="").main-nav__link О нас
                li.main-nav__item
                    a(href="").main-nav__link Услуги
                        img.main-nav__arrow(src="static/img/expand_more.svg")
                li.main-nav__item
                    a(href="").main-nav__link Вакансии
                li.main-nav__item
                    a(href="").main-nav__link Новости
                li.main-nav__item
                    a(href="").main-nav__link Соглашения
                        img.main-nav__arrow(src="static/img/expand_more.svg")
        a(href="login.html").btn-empty войти
        a(href="registration.html").btn-full зарегистрироваться